<a href="https://colab.research.google.com/github/s110000497/python-work/blob/main/%E6%AD%A1%E8%BF%8E%E4%BD%BF%E7%94%A8_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# -*- coding: utf-8 -*-
x = input('Enter your name:')
print('Hello, ' + x)

a = input("請輸入：")
a

###  使用Python內建的type()函數顯示資料型態

type(a)

Enter your name:32
Hello, 32
請輸入：45

str

In [6]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：10,20

(10, 20)

In [8]:
# 列印整數(integer)與 浮點數(float) 的值
print("Happy : %2d, Python : %5.2f" % (1, 05.333))

Happy :  1, Python :  5.33

In [9]:
# 列印整數值 ==> %3d 和 %2d有 何不同
print("Total students : %3d, Boys : %2d" % (240, 120))

Total students : 240, Boys : 120

In [10]:
# print octal value
print("%7.3o" % (25))

    031

In [11]:
# print exponential value
print("%10.3E" % (356.08977))

 3.561E+02

In [12]:
# using format() method
print('I love {} for "{}!"'.format('Python', 'CTFer'))

I love Python for "CTFer!"

In [13]:
# 使用位置表達 ==>看看底下有何不同
print('{0} and {1}'.format('Python', 'CTFer'))

Python and CTFer

In [14]:
print('{1} and {0}'.format('Python', 'CTFer'))

CTFer and Python

In [15]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [16]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [17]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2000
2000 是閏年

In [20]:
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	
  day_month[1] = 29